div {
	border: none;
    padding: 5px;
    margin: 5px;
}

.logo-container, .title-container {
	display: flex;
	height: 100px;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center; /* 수직 가운데 정렬 */
}

.container {
	display: grid;
	grid-template-columns: 4fr 6fr;
}

.left-section {
	display: flex;
	flex-direction: column;
}

.left-section-inner1 {
	display: grid;
	grid-template-columns: 2fr 8fr;
}

.left-section-inner2 {
	display: flex;
	flex-direction: column;
}

.left-section-inner3 {
	display: flex;
	flex-direction: column;
}

.right-section {
	display: flex;
	flex-direction: column;
}

.right-section-inner1 {
	display: flex;
	flex-direction: column;
}

.right-section-inner2 {
	display: flex;
	flex-direction: column;
}

.table-container {
    max-height: 550px;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
}

.button-container input[type="button"] {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}